:root {
  --title: #ff6768;
  --background: #24292f;
  --text: #ffffff;
  --shadow: rgba(0, 0, 0, 0.4);
  --link: #ff7c7d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background: var(--text);
  color: var(--background);
  overflow-x: hidden;
}

.container {
  background: var(--background);
  transform-origin: top left;
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
}

.container.show-nav {
  transform: rotate(-20deg);
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle {
  background-color: var(--title);
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}

.circle button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 60%;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 26px;
  color: #fff;
}

.circle button:focus {
  outline: none;
}

.container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
  text-align: right;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  text-transform: uppercase;
  color: var(--background);
  margin: 40px 0;
  transform: translateX(-150%);
  transition: transform 0.4s ease-in;
  font-size: 1.5rem;
  cursor: pointer;
}

.content img {
  max-width: 100%;
}

.content {
  max-width: 1000px;
  margin: 50px auto;
}

.content h1 {
  margin: 0;
}

.content small {
  color: var(--text);
  font-style: italic;
}

.content p {
  color: var(--text);
  line-height: 1.5;
  font-size: 1.2rem;
}
