* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 1.5rem;
}

body {
  background: #080808;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display {
  background: #aec;
  min-height: 3rem;
  padding: 1rem;
}

//////////////////////////////////////////

I DON'T LIKE THIS

AT ALLLLLLLL

I HATE JS CALCULATOR
