:root {
  --title: #ff6768;
  --background: #24292f;
  --text: #ffffff;
  --shadow: rgba(0, 0, 0, 0.4);
  --link: #ff7c7d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background: var(--background);
  color: var(--text);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
}

label {
  margin-left: 0.5rem;
}

label[for='th'] {
  margin-right: 2rem;
}

.tnd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: var(--title);
  font-size: 3rem;
  margin: 1rem 0;
}

h1 span {
  color: var(--text);
  font-size: 1.5rem;
}

.date {
  color: var(--text);
  font-size: 1.5rem;
}
