* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

:root {
  --title: #ff6768;
  --background: #24292f;
  --text: #ffffff;
  --shadow: rgba(0, 0, 0, 0.4);
  --link: #ff7c7d;
}

body {
  background: var(--background);
  color: var(--text);
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.box {
  border: 5px solid var(--title);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  transform: translateX(400%);
  transition: transform 0.4s ease;
  background: var(--shadow);
}

.box:nth-of-type(even) {
  transform: translateX(-400%);
}

.box.show {
  transform: translateX(0);
}

.box h2 {
  font-size: 45px;
}
